
//Экран до 1440px

@media screen and (max-width: $desktopWidth) {
  html {
    font-size: 16px;
  }

  .advantages {
    margin-top: 0;
  }

}

//Экран менее 1440px

@media screen and (max-width: $smDesktopWidth) {
  html {
    font-size: 16px;
  }

  .advantages {
    margin-top: 55px;
  }

  .advantages-list {
    justify-content: space-between;
  }

  .advantages-item {
    margin-right: 40px;
  }

  .advantages-h2 {
    font-size: 60px;
    line-height: 60px;
  }
}

//Экран для планшета

@media screen and (max-width: $tableWidth) {
  html {
    font-size: 15px;
  }

  .advantages-list {
    margin-right: 80px;
  }

  .advantages-item {
    margin-right: 0;
  }

}

//Экран для телефона

@media screen and (max-width: $phoneWidth) {
  html {
    font-size: 14px;
  }

  .advantages {
    margin-top: 35px;
  }

  .advantages-list {
    flex-direction: column;

    min-width: 100%;
  }

  .advantages-item__background-number {
    display: none;
  }

  .advantages-h2 {
    margin-top: 0;
    margin-bottom: 35px;

    font-size: 36px;
    line-height: 60px;
  }

  .advantages-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
  .advantages-item__icon {
    width: 60px;
    height: 60px;
  }

  .advantages-item__icon img {
    margin: 0;
    padding: 0;
    margin-left: 17px;
    margin-top: 15px;
    margin-right: 40px;

    width: 32px;
    height: 32px;
  }

  .advantages-item__icon::after {
    margin: 0;
    padding: 0;

    top: 0;

    width: 60px;
    height: 60px;
  }

  .advantages-item__text {
    margin: 0 0 0 20px;
    padding: 0;

    width: 100%;

    font-size: 14px;
    line-height: 18px;
    color: #444444;
    font-family: "Arial";
  }

}