.example-background--color {
  display: none;

  width: 100%;

  background-color: $main-color;
}

.example {
  padding-bottom: 0;

  position: relative;
}

.example-block {
  background-color: $main-color;
}

.example-wrapper {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example-text {
  max-width: 440px;
}

.example-text--position {
  padding-top: 70px;
  padding-bottom: 73px;
}

.example-image {
  position: relative;
  width: 690px; 
  height: 536px;
  margin-top: -40px;
}

.example-image--cat {
  width: 100%;
}

.example-image--cat-1 {
  position: absolute;
  width: 660px; 
  height: 536px;

}

.example-image--cat-2 {
  position: absolute;
  width: 590px; 
  height: auto;

  bottom: 0px;
  
  margin-left: 70px;
}

.slider {
  position: absolute;
  bottom: -60px;
}


.example-image--position {
  position: relative;
  top: -160px;
  right: 0;
}

.slider {
  margin-top: 40px;
  margin-left: 150px;
}

//Переделать!!!
.slider {
  @include size(425px, 7px);

  -webkit-appearance: none;

  border-radius: 50px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.example-calculation {
  width: 371px;

  display: flex;
  flex-direction: column;
}

.example-calculation--position {
  margin-top: 70px;
}

.example-calculation__container {
  display: flex;
  justify-content: space-between;
}

.example-calculation-fieldset {
  width: 163px;

  @include fonts(30px, 37px);

  text-align: center;
  transform: rotate(180deg);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid $border-base;
}

.example-calculation__legend {
  padding: 0 9px;

  @include fonts(14px, 14px);
  transform: rotate(180deg);
}

.example-calculation__text,
.example-calculation__expenses {
  color: $primary-color;
  font-family: $mainFont;
  text-transform: uppercase;
}

.example-calculation__text {
  padding: 15px 0;

  transform: rotate(180deg);
}

.example-calculation__expenses {
  padding-top: 60px;

  @include fonts(20px, 20px);
}

.example-calculation__expenses-sum {
  margin-left: 63px;
}
