.extras {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.container-line {
  margin-bottom: 75px;

  border: none;              
  border-top: 3px solid $secondary-color;

  display: flex;
  align-items: center;
}

.container-legend {
  margin-left: calc(48% - 620px);
}

.headline-adaptive {
  margin-left: 40px;
  margin-right: 40px;

  width: auto;

  @include fonts(36px, 36px);
  white-space: nowrap;
  text-transform: none;
}


/*Таблица*/

.extras__table-products {
  display: inline-block;
  max-width: 895px;
  border-collapse: collapse;
}

.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 2px solid $border-base;
}

.table-row:last-child {
  border-bottom: 2px solid $border-base;
}


.table-cell-product {
  width: 325px;

  @include fonts(20px, 20px);
  color: $primary-color-inner;
  font-family: $mainFont;

  text-transform: uppercase;
}

.table-cell-center {
  margin-right: 40px;
  width: 285px;

  display: flex;
  justify-content: space-between;
}


.table-button {
  margin-top: 15px;
  margin-bottom: 15px;

  width: 245px;
}

.extras__offer {
  width: 245px;
  background-image: url("/assets/img/catalog-img/extras-offer-background.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.extras__offer-text {
  width: 159px;

  color: $inner-color;
  text-align: center;
}

.extras__offer-image {
  margin-top: 65px;
  margin-bottom: 64px;

  @include size(55px, 60px);
}



