
@media screen and (max-width: $smDesktopWidth) {
 
  .extras__offer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .extras__offer-image {
    margin-left: 90px;
  }

  .extras__offer-text {
    margin-right: 125px;
  }

  .extras__table-products {
    max-width: 100%;
  }

  .container-legend {
    margin-left: calc(4% + 30px);
  }

}

@media screen and (max-width: $tableWidth) {
  .extras {
    margin-bottom: 75px;
  }

  .container-legend {
    margin-left: calc(5% - 10px);
  }

  .table-row {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;

    height: 140px;

    flex-wrap: wrap;
    align-items: flex-start;
   }

  .table-cell-center {
    margin-right: 0;

    width: 225px;
  }

  .table-button {
    width: 100%;

    flex-grow: 1;
  }
}


@media screen and (max-width: $phoneWidth) {
  .extras {
    margin-bottom: 35px;
  }

  .container-legend {
    margin-left: calc(0% - 0px);
  }

  .extras-h2 {
    margin-right: 25px;
    margin-left: 25px;

    @include fonts(24px, 24px); 
  }

  .container-line {
    margin-bottom: 30px;
  }

  .table-row {
    flex-direction: column;
    height: auto;
  }

  .table-cell-product,
  .table-cell-center {
    width: 100%;
  }

  .table-cell-product {
    margin-bottom: 15px;
  }

  .table-row {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
  }

  .extras__offer {
    margin-top: 40px;
    flex-direction: column;
  }

  .extras__offer-text {
    margin-right: 0;
    margin-bottom: 45px;
  }

  .extras__offer-image {
    margin-left: 0;
  }

}