// header style

.menu-toggle--hidden {
  display: none;
}

.logo-cat-energy {
  display: none;
}

.header-image-cat {
  display: none;
}

.page-header__info-image-mobile {
  display: none;
}

.page-header {
  height: 100vh;
  width: 100%;

  font-family: $mainFont;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
}

.page-header__background-image-cat {
  width: 50%;
  height: 100vh;

  z-index: -2;
  background-image: url("/assets/img/Background-cat-desktop.jpeg");
  background-position: 50% 100%;
  background-size: cover;

}

.page-header__background-image-cat--left {
  position: absolute;
  right: 0;
}

.page-header__background-image-eat {
  width: 40%;
}

.page-header__background-image-eat--center {
  z-index: -1;

  position: absolute;
  left: 39%;
  top: 20%;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  width: 202px;
  height: 59px;
}

.page-header__logo--position {
  margin-top: 55px;
  margin-left: 110px;
}

.page-header__logo:hover {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}


.main-nav {
  width: auto;
}

.main-nav--position {
  margin-right: 75px;
  margin-top: 73px;
}

.main-nav__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.site-list__item {
  margin-right: 35px;
  margin-bottom: 15px;
}

.site-list__item a {
  color: $default-color;
}

.site-list__item a:hover {
  opacity: 0.6;
}

.site-list__item a:active {
  opacity: 0.3;
}

.site-list__item--active {
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}

.page-header__info {
  margin-top: 15vh;
  padding-left: 13%;
}

.page-header__info-h1 {
  width: 420px;

  font-size: 60px;
  line-height: 60px;
  color: $primary-color;
  text-transform: none;
}

.page-header__info-text {
  margin-top: 40px;

  width: 420px;
}

.page-header__button {
  margin-top: 50px;
}

.page-header__button a:active {
  opacity: 0.3;
}



