.page-footer {
  padding: 60px 0;
  margin: 0;
}

.page-footer__info {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer-htmlacademy-logo {
  width: 163px;
}

.footer-soc {
  width: 125px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.htmlacademy-block {
  display: flex;
  align-items: center;

  @include fonts(16px, 16px);
  color: $text-color;
  font-family: $secondaryFont;
  text-align: right;
}

.htmlacademy {
  margin-right: 25px;
}

/*.footer-soc__item a:hover {
  fill: #67b737;
}*/
// footer style